/** CHEFS PAGE **/
.chef-title {
    margin: 30px auto;
}
div.chefs-container {
    justify-content: space-evenly;
}

div.chef-content {
    box-sizing: border-box;
    padding: 19px 19px;
    background-color: #f9f4ea;
    border-radius: 5px;
    margin-bottom: 19px;
    height: 420px;
}

div.chef-card img {
    border-radius: 5px;
    padding-bottom: 10px;
}