/** RESTAURANT CARD **/

.restaurant-content {
    box-sizing: border-box;
    padding: 19px 19px;
}

.restaurant-content div.res-card {
    background-color: #f9f4ea;
    height: 339px;
}

.restaurant-content div.res-card img {
    width: 342px;
}

.restaurant-content div.restaurant-details {
    margin-top: 15px;
}

.restaurant-content div.restaurant-details h2 {
    margin: 0 auto;
    color: #000000;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 2.53px;
    font-family: HelveticaNeue;
}

.restaurant-content div.restaurant-details p {
    font-size: 23.8px;
    margin: 10px auto;
    letter-spacing: 1.58px;
    font-weight: 100;
    font-stretch: normal;
    color: #000000;
    font-family: HelveticaNeue-Thin;
}

@media (max-width: 550px) {
    .restaurant-content {
        padding: 6.5px 6.5px;
    }

    .restaurant-content div.res-card {
        width: 162px;
        height: 190.5px;
    }

    .restaurant-content div.res-card img {
        width: 162px;
        height: 122px;
    }

    .restaurant-content div.restaurant-details h2 {
        font-size: 17.2px;;
    }

    .restaurant-content div.restaurant-details p {
        font-size: 13.3px;
    }
}