/** HEADER CONTAINER **/
header nav.header-nav {
    display: flex;
    justify-content: space-between;
    transition: all 0.7s ease;
    position: relative;
    border-bottom: solid 0.2px #979797;
}

.site-header .container {
    padding: 14px 0 5px 0;
    width: 80%;
    max-width: 1440px;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    margin: auto;
    flex-direction: row;
}

header nav.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem ;
    background-color: #ffffff;
    z-index: 10000;
}

@media screen and (max-width: 767px) {
    .site-header .container {
        height: 53px;
    }
    header nav.fixed-top {
        display: none;
    }
}


