/** DISH CARD **/

div.dishes-content {
    box-sizing: border-box;
    width: 236px;
    height: 413px;
    text-align: center;
    margin: 26.5px 20px;
    background-color: rgba(232, 196, 122, 0.2);
}

div.dish-details h2 {
    font-family: HelveticaNeue;
    font-size: 22.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.5px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}

div.dish-details p.details {
    width: 165.5px;
    height: 132px;
    font-family: HelveticaNeue-Thin;
    font-size: 17px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 1.3px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

div.dish-details p.price {
    margin-top: 40px;
    margin-bottom: 0;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #000000;
}

div.dish-details p.icon-price {
    margin-top: 0;
    margin-bottom: 0;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #000000;
}

@media (max-width: 404px) {
    div.dishes-content {
        width: 157px;
        height: 274px;
        margin: 12px 10px;
    }

    div.dish-card img {
        width: 157px;
        height: 100px;
    }

    div.dish-details h2 {
        font-size: 15px;
    }

    div.dish-details p.details {
        font-size: 13px;
        height: 70px;
        width: 111px;
    }

    div.dish-details p.price {
        font-size: 14px;
    }
}
