/** ABOUT US SECTION **/
section.about-us-section {
    background-color: #fafafa;
    width: 100%;
    height: 526px;
    align-items: center;
}

div.about-us-container {
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 526px;
}

@media (max-width: 1599px) {
    div.about-us-container {
        width: 60%;
    }
}

@media (max-width: 1460px) {
    div.about-us-container {
        width: 80%;
    }
}

div.about-content {
    max-width: 567px;
    width: 100%;
    height: 100%;
    max-height: 269px;
}

div.about-content h1 {
    text-align: unset;
    font-family: HelveticaNeue-Thin;
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.89px;
    color: #000000;
    margin-top: 0;
}

div.about-content p {
    height: 269px;
    font-family: HelveticaNeue-Thin;
    font-size: 22px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.69px;
    text-align: justify;
    color: #000000;
    margin: 0;
}

div.about-icon img {
    max-width: 178px;
    width: 100%;
    height: 100%;
    max-height: 166px;
}

div.links {
    margin: 0;
    height: 52.8px;
    justify-content: space-between;
    width: 37%;
}

div.app-store-link {
    border: 1px solid #000000;
    border-radius: 9.6px;
    padding: 7.2px 17.6px 8.4px 15px;
    height: 52.6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 181.2px;
    align-items: center;
    justify-content: space-between;
}

div.app-store-link img {
    width: 23.1px;
}

div.app-store-link p {
    width: 120px;
    text-align: center;
    font-family: HelveticaNeue;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.29px;
    color: #000000;
    font-size: 13.2px;

}

div.app-store-link p a {
    font-size: 16.8px;
    color: #000000;
}

div.google-play-link {
    width: 181.2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 7.2px 17.6px 8.4px 15px;
    border-radius: 9.6px;
    height: 52.6px;
    align-items: center;
}

div.google-play-link img {
    width: 19px;
}

div.google-play-link p {
    width: 106px;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 13.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.29px;
    color: #000000;
}

div.google-play-link p a {
    font-size: 16.8px;
    color: #000000;
}

@media (max-width: 1250px) {
    div.links {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    div.links {
        width: 47%;
    }
}

@media (max-width: 800px) {
    section.about-us-section {
        height: 605px;
    }
    div.about-us-container {
        flex-direction: column;
        justify-content: space-evenly;
        height: 605px;
    }

    div.about-content h1 {
        text-align: center;
        font-size: 18px;
    }
    div.about-content p {
        text-align: center;
        font-size: 18px;
        height: fit-content;
    }
    div.links {
        width: 65%;
    }

}

@media (max-width: 767px) {
    div.about-content {
        max-height: 200px;
    }

    div.about-content h1 {
        text-align: center;
        font-size: 14px;
    }
    div.about-content p {
        text-align: center;
        font-size: 14px;
        height: fit-content;
    }
    div.links {
        width: 75%;
    }
    div.links p {
        margin: 0 auto;
    }
    div.about-icon img {
        width: 135px;
        height: 126px;
    }
    div.app-store-link {
        /*width: 126.8px;*/
        width: 165px;
        height: 68px;
    }
    div.google-play-link {
        /*width: 126.8px;*/
        height: 68px;
        width: 165px;
    }

}

@media (max-width: 550px) {
    div.links {
        width: 75%;
    }
    div.about-icon img {
        width: 135px;
        height: 126px;
    }
    div.app-store-link {
        width: 126.8px;
        height: 68px;
    }
    div.google-play-link {
        width: 126.8px;
        height: 68px;
    }
}

@media (max-width: 420px) {
    div.links {
        width: 90%;
    }
    div.google-play-link {
        padding: 0 5px;
    }
    div.google-play-link p {
        font-size: 9.2px;
    }
    div.google-play-link p a {
        font-size: 11.8px;
    }
    div.google-play-link img {
        width: 14px;
        height: 19px;
    }
    div.app-store-link {
        padding: 0 5px;
    }
    div.app-store-link p {
        font-size: 9.2px;
    }
    div.app-store-link p a {
        font-size: 11.8px;
    }
    div.app-store-link img {
        width: 17px;
        height: 21px;
    }
}