/** POPULAR SECTION **/
section.popular-section {
    margin-top: 140px;
    text-align: right;
}

section.popular-section h1 {
    font-family: HelveticaNeue-Thin;
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.25px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

section.popular-section div.restaurant-content {
    padding: 5.5px;
}

section.popular-section div.res-card {
    width: 360px;
    height: 357px;
}

section.popular-section div.res-card img {
    width: 100%;
}

section.popular-section a {
    margin-right: 20%;
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
}

@media (max-width: 1300px) {
    section.popular-section a {
        margin-right: 10%;
    }
}

@media (max-width: 785px) {
    section.popular-section {
        margin-top: 60px;
    }
    section.popular-section h1 {
        font-size: 14px;
    }
    section.popular-section div.res-card {
        flex-shrink: 0;
        height: 338px;
        width: 206px;
    }
    section.popular-section div.res-card img {
        height: 224px;
        object-fit: cover;
    }
    section.popular-section div.restaurant-details h2 {
        font-size: 25px;
    }
    section.popular-section div.restaurant-details p {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    section.popular-section .container-flex {
        flex-wrap: unset;
        justify-content: unset;
    }
    section.popular-section a span {
        display: none;
    }
    section.popular-section div.slider {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
    section.popular-section div.slides > div {
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }
}
